<!DOCTYPE html>
<html lang="cs" dir="ltr">
	<head>
		<meta charset="UTF-8">
		<title>Odebírání newsletteru zrušeno</title>
	</head>
	<body>
		<h1>Odebírání newsletteru zrušeno</h1>
		
		<p>
			Adresa {$address->email} nyní už nebude dostávat e-maily s novinkami.
		</p>
	</body>
</html>