<!DOCTYPE html>
<html lang="cs" dir="ltr">
	<head>
		<meta charset="UTF-8">
		<title>Odebírání newsletteru potvrzeno</title>
	</head>
	<body>
		<h1>Odebírání newsletteru potvrzeno</h1>
		
		<p>
			Adresa {$address->email} nyní bude dostávat e-maily s novinkami.<br>
			Odběr můžete zrušit <a href="{link cancelSubscribe sha1($address->id)}">zde</a>.
		</p>
	</body>
</html>