
{if $flashes}
	<div class="flashes">
		{foreach $flashes as $flash}
			<div n:class="flash,!empty($flash->type) ? $flash->type">{$flash->message}</div>
		{/foreach}
	</div>
{/if}

{control subscribeForm}