
<div class="well">
	Aktivních adres: {$statistics->numAddresses}<br>
	Nepotvrzených adres: {$statistics->numAddressesUnconfirmed}<br>
	Poslední adresa přidána: {if $statistics->lastAddressAdded}{$statistics->lastAddressAdded->format('j.n.Y H:i')}{else}nikdy{/if}
</div>

<div class="panel panel-default">
	<div class="panel-body">
		{form actionsForm class=>"form-inline"}
			{input export class=>'btn btn-default'}

			<div class="input-group">
				{input email class=>'form-control',placeholder=>'Zadejte e-mail'}
				<span class="input-group-btn">
					{input search class=>'btn btn-default'}
				</span>
			</div>

			{input hideResults class=>'btn btn-default'}
		{/form}
	</div>
</div>

{if $flashes}
	{foreach $flashes as $flash}
		<div class="alert alert-{$flash->type}" role="{$flash->type}">{$flash->message}</div>
	{/foreach}
{/if}

<div class="panel panel-default">
	<div class="panel-body">
		{if isset($foundAddress)}
			<p class="lead">Byla nalezena adresa:</p>
			<ul>
				<li>
					{$foundAddress->email} (registrována {$foundAddress->subscribed->format('j.n.Y H:i')}, {if $foundAddress->isConfirmed}potvrzena{else}není potvrzena{/if})
					<a href="{link removeAddress $foundAddress->id}">Odebrat</a>
				</li>
			</ul>
		{else}
			<p class="lead">5 posledních potvrzených adres:</p>
			<ul>
			{foreach $latest as $address}
				<li>
					{$address->email} (registrována {$address->subscribed->format('j.n.Y H:i')}, {if $address->isConfirmed}potvrzena{else}není potvrzena{/if}) 
					<a href="{link removeAddress $address->id}" data-confirm="Opravdu odebrat adresu {$address->email} ?">Odebrat</a></li>
			{/foreach}
			</ul>
		{/if}
	</div>
</div>
