
{define col-subject}
	<td><a href="{$parentComponent->link('edit',$row->id)}">{$row->subject}</a></td>
{/define}

{define col-status}
	<td><span class="glyphicon glyphicon-{if empty($row->sent)}remove{else}{$row->sent->format('j.n.Y H:i')}{/if}" aria-hidden="true"></span></td>
{/define}
	
{define row-actions}
	<a href="{$parentComponent->link('edit',$primary)}" title="Upravit"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
	{if empty($row->sent)}
		<a href="{$parentComponent->link('delete',$primary)}" title="Smazat" data-confirm="Opravdu smazat newsletter {$row->subject}?"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
	{/if}
{/define}