
<div class="panel panel-default">
	<div class="panel-body">
		<a href="{link edit!}" class="btn btn-default">Nový newsletter</a>
	</div>
</div>

{if $flashes}
	{foreach $flashes as $flash}
		<div class="alert alert-{$flash->type}" role="{$flash->type}">{$flash->message}</div>
	{/foreach}
{/if}

<div class="panel panel-default">
	<div class="panel-body {if !isset($edit)}hide{/if}">
		{control editForm}
	</div>
	<div class="panel-body {if isset($edit)}hide{/if}">
		{control newsletterGrid}
	</div>
</div>
